<!DOCTYPE html>
<html lang="en" ng-app="pct.management">
<head>
    <meta charset="UTF-8" />
    <title>PCT Admin</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="/Areas/Management/app/css/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles/css/management.css")
    <link href="https://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet" />
    <script>var appHost='@MvcApplication.WebsiteHost';</script>
    @Scripts.Render("~/bundles/js/lib.js")
    @Scripts.Render("~/bundles/js/management.js")
    <script src="https://vjs.zencdn.net/4.11/video.js"></script>
</head>
<body onbeforeunload="return beforeUnload()">
    <div class="wrapper">
        <content-side-nav ng-if="$state.current.name != 'login'"></content-side-nav>
        <aside class="container-sidebar" ng-if="$state.current.name == 'login'">
            <a href="#" class="logo">PCT</a>
        </aside>
        <section class="container">
            <header class="header" layout-header></header>
            <main class="main" ui-view></main>
            <footer class="footer">
                <div class="shell">
                    © 1997-@DateTime.Now.Year GIE Media, Inc. All Right Reserved. |
                    <script type="text/javascript" src="//prototype1.io/developed.by.p1.js"></script>
                </div>
            </footer>
            <footer class="footer-nav" layout-custom-footer style="display: none"></footer>
        </section>
    </div>
	
</body>
</html>

@*This is required to make MVC happy - do not remove*@
@RenderBody()
@*This is required to make MVC happy - do not remove*@
