@using System.Reflection
@using System.Runtime.Serialization
@using Prototype1.Foundation
@model Type

@{
    var properties = @Model.GetProperties(BindingFlags.Public | BindingFlags.Instance)
        .Where(x => !x.GetCustomAttributes(typeof (IgnoreDataMemberAttribute), false).Any());
    var aName = "type_" + @Model.Name.Replace(" ", "");
}

<div class="action-method area">
    <a name="@aName"></a>
    <h4 class="summary">@Model.Name</h4>
    <table>
        <thead>
            <tr>
                <td width="25%">Property</td>
                <td width="25%">Type</td>
                <td width="50%">Additional information</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var prop in properties)
            {
                var propType = !prop.PropertyType.IsGenericType
                    ? prop.PropertyType.Name
                    : prop.PropertyType.Name.Replace("`1", "") + "<" + prop.PropertyType.GenericTypeArguments[0].Name + ">";
                var aLinkName =
                    (!prop.PropertyType.IsPrimitive && prop.PropertyType.IsClass && !(prop.PropertyType.Namespace ?? "").StartsWith("System"))
                        ? "type_" + prop.PropertyType.Name.Replace(" ", "").Replace("[", "").Replace("]", "")
                        : "";

                <tr>
                    <td><b>@prop.Name</b></td>
                    <td>
                        @if (aLinkName.IsNullOrEmpty())
                        {
                            @propType
                        }
                        else
                        {
                            <a href="#@aLinkName">@propType</a>
                        }
                        
                        @if (prop.PropertyType.IsEnum)
                        {
                            <i>(Enum)</i>
                        }
                    </td>
                    <td>
                        @if (prop.PropertyType.IsEnum)
                        {
                            var first = true;
                            foreach (var n in Enum.GetNames(prop.PropertyType))
                            {
                                if (!first)
                                {
                                    <br/>
                                }
                                @MvcHtmlString.Create(n + " = " + (int)Enum.Parse(prop.PropertyType, n));
                                first = false;
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>