@model dynamic

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Pest Control Technology Password Reset</title>
    <link rel="stylesheet" type="text/css" href="@(Model.BaseUrl)/app/css/email.css" />
</head>
<body bgcolor="#FFFFFF">
    
    <table class="head-view-in-browser" bgcolor="#ffffff">
        <tr>
            <td><div class="content">Trouble viewing this email? <a target="_blank" href="@Model.BrowserUrl">Open it in a browser</a>.</div></td>
        </tr>
    </table>

    <table class="head-wrap" bgcolor="#ffffff">
        <tr>
            <td></td>
            <td class="header container">
                <div class="content">
                    <table bgcolor="#ffffff">
                        <tr>
                            <td><img src="@(Model.BaseUrl)/app/css/images/logo.png" /></td>
                            <td align="right"><h6 class="collapse">Password Reset</h6></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">
                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <h4>Hello @Model.Name,</h4>
                                <p>Please use the link below to reset your password:</p>
                                
                                <p><a target="_blank" href="@Model.NewPasswordUrl">Reset your password</a></p>
                                
                                <br />

                                <p class="callout">Please note that this link will only remain valid for the next 30 minutes.</p>

                                <br />

                                <table class="social" width="100%">
                                    <tr>
                                        <td>

                                            <table align="left" class="column">
                                                <tr>
                                                    <td>
                                                        <h5 class="small">GIE Media, Inc.</h5>
                                                        <p class="small">
                                                            5811 Canal Road &middot;
                                                            Valley View, Ohio 44125<br />
                                                            Phone: 216-393-0300 &middot;
                                                            Fax: 216-525-0515
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>

                                            <span class="clear"></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

    <table class="footer-wrap">
        <tr>
            <td></td>
            <td class="container">
                <table class="footer-wrap">
                    <tr>
                        <td align="center" class="content">
                            <p>
                                <a target="_blank" href="#">Terms</a> |
                                <a target="_blank" href="#">Privacy</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>